<script type="text/template" id="popover-template">
  <i id="overlay-close" class="icon-cancel"></i>
  <i id="highlight-map" class="icon-location"></i>
  <div class="images">
    <@ if (images.length == 0) { @>
      <img src="<@= IMG_NOT_FOUND_ORIGINAL @>" width=250px height=400px>
    <@ } else { @>
      <@ for (i = 0; i < images.length; i++) { @>
        <img src="<@= images[i].image_url @>">
      <@ } @>
    <@ } @>
  </div>
  <div class="content">
    <div class="title"><@= genusSpecies @> <@= authority @></div>
    <div class="subtitle"><@= commonName @></div>
    <div class="family"><abbr class="heading">Family name</abbr><br /><@= family.name @></div>
    <div class="description"><abbr class="heading">Description</abbr><br /><@= description @></div>
    <div class="distribution"><abbr class="heading">Distribution</abbr><br /><@ print(distribution.split('|')[1]) @></div>
    <div class="information"><abbr class="heading">Information</abbr><br /><@ print(information.split('|')[1]) @></div>
  </div>
</script>

<script type="text/template" id="infobox-template">
  <div class="species-infobox-outer">
    <div class="species-infobox" id="infobox-<@= id @>">
      <img class="list-image<@ print(images.length > 0 ? '' : ' no-image') @>" src="<@ print(images.length > 0 ? (IS_RETINA ? images[0].image_url_small : images[0].image_url_tiny) : IMG_NOT_FOUND_SMALL) @>">
      <div class="text">
        <div class="title"><@= genusSpecies @></div>
        <div class="subtitle"><@= commonName @></div>
      </div>
      <%= image_tag 'disclosure-indicator-dark.png', class: 'disclosure-indicator' %>
    </div>
  </div>
</script>