<!-- Species list rows in right side menu -->
<script type="text/template" id="list-row-template">
  <img class="list-image" src="<@ print(images.length > 0 ? images[0].picture_url : IMG_NOT_FOUND_SMALL) @>">
  <div class="text">
    <div class="title"><@= genusSpecies @></div>
    <div class="subtitle"><@= commonName @></div>
  </div>
  <%= image_tag 'disclosure-indicator.png', class: 'disclosure-indicator' %>
</script>

<!-- Family checkbox rows in right side menu -->
<script type="text/template" id="family-row-template">
  <div class="checkbox family selected">
    <i class="icon-ok"></i>
  </div>
  <div class='title'><@= name @></div>
</script>

<!-- Trails checkbox rows in right side menui -->
<script type="text/template" id="trail-row-template">
  <div class="checkbox trail">
    <i class="icon-ok"></i>
  </div>
  <div class="title"><@= name @></div>
</script>