/* Breakpoints
...................................................................................... */
/* Helpers
...................................................................................... */
/* Classes
...................................................................................... */
.height-fix {
  vertical-align: middle;
  height: 100%;
  width: 0;
  display: inline-block;
  overflow: hidden; }

.highlight {
  color: #2c90b6; }

.inline-middle {
  display: inline-block;
  vertical-align: middle; }

.checkbox,
.radio {
  margin-bottom: 12px;
  padding-left: 32px;
  position: relative;
  transition: color .25s linear;
  font-size: 14px;
  line-height: 1.5; }
  .checkbox .icons,
  .radio .icons {
    color: #bdc3c7;
    display: block;
    height: 20px;
    top: 0;
    left: 0;
    position: absolute;
    width: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    cursor: pointer; }
    .checkbox .icons .icon-checked,
    .radio .icons .icon-checked {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -moz-opacity: 0;
      -khtml-opacity: 0;
      opacity: 0; }

.checkbox .icon-checked,
.checkbox .icon-unchecked,
.radio .icon-checked,
.radio .icon-unchecked {
  display: inline-table;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  margin: 0;
  opacity: 1;
  filter: none;
  transition: color .25s linear; }
  .checkbox .icon-checked:before,
  .checkbox .icon-unchecked:before,
  .radio .icon-checked:before,
  .radio .icon-unchecked:before {
    font-family: 'Flat-UI-Icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.checkbox .icon-checked:before {
  content: "\e60e"; }
.checkbox .icon-unchecked:before {
  content: "\e60d"; }

.radio .icon-checked:before {
  content: "\e60c"; }
.radio .icon-unchecked:before {
  content: "\e60b"; }

.checkbox input[type="checkbox"].custom-checkbox,
.checkbox input[type="radio"].custom-radio,
.radio input[type="checkbox"].custom-checkbox,
.radio input[type="radio"].custom-radio {
  outline: none !important;
  opacity: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px; }
  .checkbox input[type="checkbox"].custom-checkbox:hover:not(.nohover):not(:disabled) + .icons .icon-unchecked,
  .checkbox input[type="radio"].custom-radio:hover:not(.nohover):not(:disabled) + .icons .icon-unchecked,
  .radio input[type="checkbox"].custom-checkbox:hover:not(.nohover):not(:disabled) + .icons .icon-unchecked,
  .radio input[type="radio"].custom-radio:hover:not(.nohover):not(:disabled) + .icons .icon-unchecked {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0; }
  .checkbox input[type="checkbox"].custom-checkbox:hover:not(.nohover):not(:disabled) + .icons .icon-checked,
  .checkbox input[type="radio"].custom-radio:hover:not(.nohover):not(:disabled) + .icons .icon-checked,
  .radio input[type="checkbox"].custom-checkbox:hover:not(.nohover):not(:disabled) + .icons .icon-checked,
  .radio input[type="radio"].custom-radio:hover:not(.nohover):not(:disabled) + .icons .icon-checked {
    opacity: 1;
    filter: none; }
  .checkbox input[type="checkbox"].custom-checkbox:checked + .icons,
  .checkbox input[type="radio"].custom-radio:checked + .icons,
  .radio input[type="checkbox"].custom-checkbox:checked + .icons,
  .radio input[type="radio"].custom-radio:checked + .icons {
    color: #212f3c; }
    .checkbox input[type="checkbox"].custom-checkbox:checked + .icons .icon-unchecked,
    .checkbox input[type="radio"].custom-radio:checked + .icons .icon-unchecked,
    .radio input[type="checkbox"].custom-checkbox:checked + .icons .icon-unchecked,
    .radio input[type="radio"].custom-radio:checked + .icons .icon-unchecked {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -moz-opacity: 0;
      -khtml-opacity: 0;
      opacity: 0; }
    .checkbox input[type="checkbox"].custom-checkbox:checked + .icons .icon-checked,
    .checkbox input[type="radio"].custom-radio:checked + .icons .icon-checked,
    .radio input[type="checkbox"].custom-checkbox:checked + .icons .icon-checked,
    .radio input[type="radio"].custom-radio:checked + .icons .icon-checked {
      opacity: 1;
      filter: none;
      color: #212f3c; }
  .checkbox input[type="checkbox"].custom-checkbox:disabled + .icons,
  .checkbox input[type="radio"].custom-radio:disabled + .icons,
  .radio input[type="checkbox"].custom-checkbox:disabled + .icons,
  .radio input[type="radio"].custom-radio:disabled + .icons {
    cursor: default;
    color: #e5e8e9; }
    .checkbox input[type="checkbox"].custom-checkbox:disabled + .icons .icon-unchecked,
    .checkbox input[type="radio"].custom-radio:disabled + .icons .icon-unchecked,
    .radio input[type="checkbox"].custom-checkbox:disabled + .icons .icon-unchecked,
    .radio input[type="radio"].custom-radio:disabled + .icons .icon-unchecked {
      opacity: 1;
      filter: none; }
    .checkbox input[type="checkbox"].custom-checkbox:disabled + .icons .icon-checked,
    .checkbox input[type="radio"].custom-radio:disabled + .icons .icon-checked,
    .radio input[type="checkbox"].custom-checkbox:disabled + .icons .icon-checked,
    .radio input[type="radio"].custom-radio:disabled + .icons .icon-checked {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -moz-opacity: 0;
      -khtml-opacity: 0;
      opacity: 0; }
  .checkbox input[type="checkbox"].custom-checkbox:disabled:checked + .icons,
  .checkbox input[type="radio"].custom-radio:disabled:checked + .icons,
  .radio input[type="checkbox"].custom-checkbox:disabled:checked + .icons,
  .radio input[type="radio"].custom-radio:disabled:checked + .icons {
    color: #e5e8e9; }
    .checkbox input[type="checkbox"].custom-checkbox:disabled:checked + .icons .icon-unchecked,
    .checkbox input[type="radio"].custom-radio:disabled:checked + .icons .icon-unchecked,
    .radio input[type="checkbox"].custom-checkbox:disabled:checked + .icons .icon-unchecked,
    .radio input[type="radio"].custom-radio:disabled:checked + .icons .icon-unchecked {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -moz-opacity: 0;
      -khtml-opacity: 0;
      opacity: 0; }
    .checkbox input[type="checkbox"].custom-checkbox:disabled:checked + .icons .icon-checked,
    .checkbox input[type="radio"].custom-radio:disabled:checked + .icons .icon-checked,
    .radio input[type="checkbox"].custom-checkbox:disabled:checked + .icons .icon-checked,
    .radio input[type="radio"].custom-radio:disabled:checked + .icons .icon-checked {
      opacity: 1;
      filter: none;
      color: #e5e8e9; }
  .checkbox input[type="checkbox"].custom-checkbox:indeterminate + .icons,
  .checkbox input[type="radio"].custom-radio:indeterminate + .icons,
  .radio input[type="checkbox"].custom-checkbox:indeterminate + .icons,
  .radio input[type="radio"].custom-radio:indeterminate + .icons {
    color: #bdc3c7; }
    .checkbox input[type="checkbox"].custom-checkbox:indeterminate + .icons .icon-unchecked,
    .checkbox input[type="radio"].custom-radio:indeterminate + .icons .icon-unchecked,
    .radio input[type="checkbox"].custom-checkbox:indeterminate + .icons .icon-unchecked,
    .radio input[type="radio"].custom-radio:indeterminate + .icons .icon-unchecked {
      opacity: 1;
      filter: none; }
    .checkbox input[type="checkbox"].custom-checkbox:indeterminate + .icons .icon-checked,
    .checkbox input[type="radio"].custom-radio:indeterminate + .icons .icon-checked,
    .radio input[type="checkbox"].custom-checkbox:indeterminate + .icons .icon-checked,
    .radio input[type="radio"].custom-radio:indeterminate + .icons .icon-checked {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      -moz-opacity: 0;
      -khtml-opacity: 0;
      opacity: 0; }
    .checkbox input[type="checkbox"].custom-checkbox:indeterminate + .icons:before,
    .checkbox input[type="radio"].custom-radio:indeterminate + .icons:before,
    .radio input[type="checkbox"].custom-checkbox:indeterminate + .icons:before,
    .radio input[type="radio"].custom-radio:indeterminate + .icons:before {
      content: "\2013";
      position: absolute;
      top: 0;
      left: 0;
      line-height: 20px;
      width: 20px;
      text-align: center;
      color: #fff;
      font-size: 22px;
      z-index: 10; }
.checkbox.primary input[type="checkbox"].custom-checkbox + .icons, .checkbox.primary input[type="radio"].custom-radio + .icons,
.radio.primary input[type="checkbox"].custom-checkbox + .icons,
.radio.primary input[type="radio"].custom-radio + .icons {
  color: #34495e; }
.checkbox.primary input[type="checkbox"].custom-checkbox:checked + .icons, .checkbox.primary input[type="radio"].custom-radio:checked + .icons,
.radio.primary input[type="checkbox"].custom-checkbox:checked + .icons,
.radio.primary input[type="radio"].custom-radio:checked + .icons {
  color: #212f3c; }
.checkbox.primary input[type="checkbox"].custom-checkbox:disabled + .icons, .checkbox.primary input[type="radio"].custom-radio:disabled + .icons,
.radio.primary input[type="checkbox"].custom-checkbox:disabled + .icons,
.radio.primary input[type="radio"].custom-radio:disabled + .icons {
  cursor: default;
  color: #bdc3c7; }
  .checkbox.primary input[type="checkbox"].custom-checkbox:disabled + .icons.checked, .checkbox.primary input[type="radio"].custom-radio:disabled + .icons.checked,
  .radio.primary input[type="checkbox"].custom-checkbox:disabled + .icons.checked,
  .radio.primary input[type="radio"].custom-radio:disabled + .icons.checked {
    color: #bdc3c7; }
.checkbox.primary input[type="checkbox"].custom-checkbox:indeterminate + .icons, .checkbox.primary input[type="radio"].custom-radio:indeterminate + .icons,
.radio.primary input[type="checkbox"].custom-checkbox:indeterminate + .icons,
.radio.primary input[type="radio"].custom-radio:indeterminate + .icons {
  color: #34495e; }

.input-group-addon .radio, .input-group-addon
.checkbox {
  margin: -2px 0;
  padding-left: 20px; }
  .input-group-addon .radio .icons, .input-group-addon
  .checkbox .icons {
    color: #e5e8e9; }
  .input-group-addon .radio input[type="checkbox"].custom-checkbox:checked + .icons,
  .input-group-addon .radio input[type="radio"].custom-radio:checked + .icons, .input-group-addon
  .checkbox input[type="checkbox"].custom-checkbox:checked + .icons,
  .input-group-addon
  .checkbox input[type="radio"].custom-radio:checked + .icons {
    color: #fff; }
    .input-group-addon .radio input[type="checkbox"].custom-checkbox:checked + .icons .icon-checked,
    .input-group-addon .radio input[type="radio"].custom-radio:checked + .icons .icon-checked, .input-group-addon
    .checkbox input[type="checkbox"].custom-checkbox:checked + .icons .icon-checked,
    .input-group-addon
    .checkbox input[type="radio"].custom-radio:checked + .icons .icon-checked {
      color: #fff; }
  .input-group-addon .radio input[type="checkbox"].custom-checkbox:disabled.icons,
  .input-group-addon .radio input[type="radio"].custom-radio:disabled.icons, .input-group-addon
  .checkbox input[type="checkbox"].custom-checkbox:disabled.icons,
  .input-group-addon
  .checkbox input[type="radio"].custom-radio:disabled.icons {
    color: #ccc; }
  .input-group-addon .radio input[type="checkbox"].custom-checkbox:disabled:checked + .icons,
  .input-group-addon .radio input[type="radio"].custom-radio:disabled:checked + .icons, .input-group-addon
  .checkbox input[type="checkbox"].custom-checkbox:disabled:checked + .icons,
  .input-group-addon
  .checkbox input[type="radio"].custom-radio:disabled:checked + .icons {
    color: #ccc; }
    .input-group-addon .radio input[type="checkbox"].custom-checkbox:disabled:checked + .icons .icon-checked,
    .input-group-addon .radio input[type="radio"].custom-radio:disabled:checked + .icons .icon-checked, .input-group-addon
    .checkbox input[type="checkbox"].custom-checkbox:disabled:checked + .icons .icon-checked,
    .input-group-addon
    .checkbox input[type="radio"].custom-radio:disabled:checked + .icons .icon-checked {
      color: #ccc; }

.radio + .radio,
.checkbox + .checkbox {
  margin-top: 10px; }

.form-inline .checkbox, .form-inline .radio {
  padding-left: 32px; }
