<script type="text/template" id="popover-template">
  <i id="overlay-close" class="icon-cancel"></i>
  <div class="images">
    <@ if (pictures.length == 0) { @>
      <img src="<@= IMG_NOT_FOUND_ORIGINAL @>" width=250px height=400px>
    <@ } else { @>
      <@ for (i = 0; i < pictures.length; i++) { @>
        <img src="<@= pictures[i].url @>">
      <@ } @>
    <@ } @>
  </div>
  <div class="content">
    <div class="title"><@= genusSpecies @></div>
    <div class="subtitle"><@= commonName @></div>
    <div class="authority"><@= authority @></div>
    <div class="description">Description<br /><@= description @></div>
    <div class="distribution">Distribution<br /><@ print(distribution.split('|')[1]) @></div>
    <div class="Information">information<br /><@ print(information.split('|')[1]) @></div>
  </div>
</script>