@import 'mixins';
@import 'fonts';

$menu-width: 300px;
$button-width: 170px;
$button-colour: #2c3e50;
$button-colour-lighter: #506e8d;
$menu-colour: #2c3e50;

html {
  width: 100%;
  height: 100%;
  overflow:hidden;
  
  body {
    width: 100%;
    height: 100%;
    position: relative;

    .inner-container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      text-align: right;
      @include fullTransition(0.3s);

      &.menu-visible {
        left: -$menu-width;
      }

      &.ios {

        .overlay-buttons {
          margin-top: 30px;
        }

        .side-menu {
          padding-top: 20px;
        }
      } // &.mobile
    } // .inner-container

    .map-canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .overlay-buttons {
      position: relative;
      display: inline-block;
      margin: 10px 10px 0 0;
      font-size: 0;
      z-index: 2;
      
      .overlay-button {
        cursor: pointer;
        display: inline-block;
        padding: 12px 0;
        width: $button-width;
        font-family: "Lato";
        color: #fff;
        font-size: 16px;
        text-align: center;
        margin-bottom: 10px;
        @include backgroundHover($button-colour, 3%);
        @include roundCornerAll(8px);

        &.selected {
          @include backgroundHover(darken($button-colour, 5%), 3%);
        }

        &.left, &.right {
          width: $button-width/2;
          vertical-align:  middle;
        }

        &.left {
          @include roundCorner(8px,0px,0px,8px);
        }
        &.right {
          @include roundCorner(0px,8px,8px,0px);
        }
      }

      .mobile-menu-button {
        width: 45px;
        height: 45px;
        font-size: 0;
        margin-bottom: 12px;
        border: 2px solid #fff;
        @include backgroundHover($button-colour);
        @include backgroundClick($button-colour);
        @include roundCornerAll(100px);
        text-align: center;

        i {
          margin-top: 1px;
          display: inline-block;
          vertical-align: middle;
          font-size: 26px;
          color: #fff;
        }
      }
    } // .overlay-buttons

    .side-menu {
      position: absolute;
      width: $menu-width;
      height: 100%;
      top: 0px;
      right: -$menu-width;
      background: $menu-colour;
      z-index:0;
      font-size: 0;

      .tab-button-outer {
        color: #fff;
        font-family: "Lato";

        .tab-button {
          font-size: 16px;
          width: $menu-width / 3;
          display: inline-block;
          vertical-align: middle;
          text-align: center;
          padding: 15px 0;
          cursor: pointer;
          @include backgroundHover($button-colour, 3%);
          @include backgroundClick($button-colour, 6%);

          &.selected {
            @include backgroundHover(darken($button-colour, 5%), 3%);
            @include backgroundClick(darken($button-colour, 5%), 6%);
          }
        }
      }

      .menu-content-container {
        position: relative;
        left: 0;
        overflow-y: visible;
        width: $menu-width * 3;
        font-size: 0;
        padding: 0;
        height:100%;
        white-space: nowrap;
        text-align: left;

        .menu-content {
          font-family: "Lato";
          color: #fff;
          width: $menu-width;
          height: 100%;
          overflow-y: scroll;
          // This enables momentum scrolling on ios devices
          -webkit-overflow-scrolling: touch;
          display: inline-block;
          vertical-align: top;
          margin:0;
          @include unselectable();

          &.list {

            .list-row {
              padding-left: 15px;
            }

            .list-image {
              display:inline-block;
              vertical-align: middle;
              width:50px;
              height:50px;
              margin-right:15px;
              @include roundCornerAll(40px);
            }

            .list-footer {
              height:80px;
              width:300px;
            }

            .list-subheader {
              padding: 15px;
              color: #fff;
              font-size: 16px;
              background: lighten($button-colour, 5%);
            }
          }

          .selection-option {
            width: 50%;
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
            padding: 15px 0;
            text-align: center;
            cursor: pointer;
            @include backgroundHover($button-colour, 3%);
            @include backgroundClick($button-colour, 6%);
          }

          .list-row {
            font-size: 16px;
            text-align: left;
            padding: 15px 18px 15px 20px;
            cursor: pointer;
            overflow-x: hidden;
            @include backgroundHover($button-colour, 3%);
            @include backgroundClick($button-colour, 6%);

            .text {
              vertical-align: middle;
              display: inline-block;

              .title, .subtitle {
                width: 190px;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              .subtitle {
                color: #bbb;
                font-size: 13px;
              }
            }

            .disclosure-indicator {
              display: inline-block;
              vertical-align: middle;
              width: 20px;
              height: 20px;
            }
          }

          .family-row, .trail-row {
            font-size: 16px;
            text-align: left;
            padding: 15px 18px 15px 20px;
            cursor: pointer;
            @include backgroundHover($button-colour, 3%);
            @include backgroundClick($button-colour, 6%);
            @include unselectable();

            &:hover {
              .checkbox:not(.selected) {
                i {
                  color: #aaa;
                  @include opacity(1);
                }
              }
            }

            .title {
              display: inline-block;
              vertical-align: middle;
            }

            .checkbox {
              width: 18px;
              height: 18px;
              display: inline-block;
              vertical-align: middle;
              margin-right: 20px;
              background: #fff;
              position: relative;
              @include roundCornerAll(3px);
              @include fullTransition(0.3s);

              i {
                position:absolute;
                font-size:13px;
                left:0px;
                @include opacity(0);
                @include fullTransition(0.3s);
              }

              &.selected {
                background: #1abc9c;

                i {
                  @include opacity(1);
                }
              }
            } // .checkbox
          } // .family-row
        } // .menu-content-container
      } // .menu-content
    } // .side-menu

    .overlay-dark, .popover-outer {
      z-index: 3;
      display:none;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      @include opacity(0);
      @include fullTransition(0.3s);
    }

    .overlay-dark {
      background: #666;

      &.selected {
        @include opacity(0.8);
      }
    }

    .popover-outer {

      &.selected {
        @include opacity(1);
      }

      .popover-inner {
        position:relative;
        display:inline-block;
        vertical-align: middle;
        width: 900px;
        height: 400px;
        background: #fff;
        text-align: left;
        font-size: 0;
        overflow: hidden;
        @include roundCornerAll(10px);

        i.icon-cancel, i.icon-location {
          position: absolute;
          top: 5px;
          font-size: 17px;
          cursor: pointer;
          @include foregroundHover(#bbb, 8%);
          @include foregroundClick(#bbb, 16%);
        }

        i.icon-cancel {
          right: 5px;
        }

        i.icon-location {
          right: 27px;
          font-size: 15px;
        }

        .images, .content {
          display: inline-block;
          vertical-align: top;
        }

        .images {
          height: 100%;
          width: 250px;
          font-size: 0;
          overflow-x: hidden;
          overflow-y: auto;

          img {
            width: 250px;
            vertical-align: top;
            cursor: pointer;
          }
        }

        .content {
          padding: 20px;
          font-family: "Lato";
          text-align: left;
          width: 610px;
          height: 360px;
          overflow-x: hidden;
          overflow-y: auto;

          .title {
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 10px;
          }

          .subtitle {
            font-size: 18px;
            color: #999;
            margin-bottom: 15px;
          }

          .family, .authority, .description, .distribution, .information {
            font-size: 14px;
            margin-bottom: 15px;
            
            .heading {
              color: #666;
              border: none;
            }
          }
        } // .content
      } // .popover-inner
    } // .popover

    .species-infobox-outer {
      background: none;
      position: relative;
      top: 12px;
      padding-bottom: 15px;
      @include opacity(0);
      @include fullTransition(0.2s);

      &.visible {
        top:0px;
        @include opacity(1);
      }

      &:after {
        bottom: -8px;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #fff;
        border-width: 12px;
        margin-left: -12px;
      }

      .species-infobox {
        font-size: 14px;
        text-align: left;
        padding: 8px;
        cursor: pointer;
        overflow-x: hidden;
        @include backgroundHover(#fff, 3%);
        @include backgroundClick(#fff, 6%);
        @include roundCornerAll(5px);

        .list-image {
          display:inline-block;
          vertical-align: middle;
          width:42px;
          height:42px;
          margin-right:15px;
          @include roundCornerAll(40px);

          &.no-image {
            border: 2px solid $button-colour-lighter;
          }
        }

        .text {
          vertical-align: middle;
          display: inline-block;

          .title, .subtitle {
            width: 190px;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .title {
            font-style: italic;
          }

          .subtitle {
            color: #aaa;
            font-size: 12px;
          }
        }

        .disclosure-indicator {
          display: inline-block;
          vertical-align: middle;
          width: 18px;
          height: 18px;
        }
      } // .species-infobox
    } // .species-infobox-outer
  } // body
} // html