@import 'mixins';
@import 'fonts';

.overlay-dark, .popover-outer {
  z-index: 3;
  display:none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  @include opacity(0);
  @include fullTransition(0.3s);
}

.overlay-dark {
  background: #666;

  &.selected {
    @include opacity(0.8);
  }
}

.popover-outer {

  &.selected {
    @include opacity(1);
  }

  .popover-inner {
    position:relative;
    display:inline-block;
    vertical-align: middle;
    width: 900px;
    height: 400px;
    background: #fff;
    text-align: left;
    font-size: 0;
    @include roundCornerAll(10px);

    i.icon-cancel {
      position: absolute;
      top: 5px;
      font-size: 17px;
      cursor: pointer;
      @include foregroundHover(#999, 8%);
      @include foregroundClick(#999, 16%);
    }

    i.icon-cancel {
      right: 5px;
    }

    .images, .content {
      display: inline-block;
      vertical-align: top;
    }

    .images {
      height: 100%;
      width: 250px;
      font-size: 0;
      overflow-x: hidden;
      overflow-y: auto;

      img {
        width: 250px;
        vertical-align: top;
        cursor: pointer;
      }
    }

    .content {
      padding: 20px;
      font-family: "Lato";
      text-align: left;
      width: 610px;
      height: 360px;
      overflow-x: hidden;
      overflow-y: auto;

      .title {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 10px;
      }

      .authority {
        font-size: 20px;
        color: #222;
        margin-bottom: 10px;
      }

      .subtitle {
        font-size: 18px;
        color: #999;
        margin-bottom: 15px;
      }
      
      .map-view {
        font-size: 14px;
        color: lighten($button-colour, 10%);
        text-decoration: underline;
        cursor: pointer;
        margin: 0 10px 15px 0;

        i {
          font-size: 16px;
          margin-right: 5px;
        }
      }

      // Social share button generated by the share-button gem
      .share-button {
        position: absolute;
        right: 30px;
        top: 2.5px;
        width: 60px;

        .entypo-export {
          background: none;
          font-family: 'Lato';
          padding: 0;
          @include foregroundHover(#777, 30%);
          @include foregroundClick(#777, 50%);
          @include noTransition();

          span {
            text-transform: none;
            font-weight: 300;
          }
        } // .entypo-export

        div.social {
          margin-left: -55px;
          margin-top: -65px;
          width: 160px;

          &:after {
              top: 100%;
              left: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-color: rgba(255, 255, 255, 0);
              border-top-color: #fff;
              border-width: 10px;
              margin-left: -10px;
          }

          ul {
            width: 160px;
            height: auto;
            overflow: hidden;
            background: #fff;
            text-align: center;
            @include roundCornerAll(4px);
            @include fullTransition(0.2s);

            li {
              width: 40px;
              background: #fff;
              padding: 10px 0 11px 0;

              &:active {
                @include noTransition();
              }

              &:hover {
                color: #fff !important;
              }

              &.entypo-twitter {
                // padding-left: 5px;
                color: #6CDFEA;

                &:hover {
                  @include backgroundClick(#6CDFEA);
                }
              } // &.entypo-twitter

              &.entypo-facebook {
                color: #3B5998;
                line-height: 23px;

                &:hover {
                  @include backgroundClick(#3B5998);
                }
              } // &.entypo-facebook

              &.entypo-gplus {
                color: #E34429;

                &:hover {
                  @include backgroundClick(#E34429);
                }
              } // &.entypo-gplus

              &.entypo-paper-plane { // email
                // padding-right: 5px;
                color: #42C5B0;

                &:hover {
                  @include backgroundClick(#42C5B0);
                }
              } // &.entypo-paper-plane
            } // li
          } // ul
        } // div.social
      } // .share-button

      .family, .description, .distribution, .information {
        font-size: 14px;
        margin-bottom: 15px;

        p {
          margin: 0;
        }

        a:hover {
          background: none;
          color: darken(#38678B, 5%);
          text-decoration: underline;
        }
        
        .heading {
          color: #666;
          border: none;
        }
      }
    } // .content

    &.about {

      .content {
        padding-top: 0;

        h1 {
          font-size: 26px;
          font-weight: 200;
          color: #888;
        }

        p {
          font-size: 14px;
        }
      }
    } // &.about
  } // .popover-inner

  .popover-inner-mobile {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;

    & > i.icon-cancel {
      position: absolute;
      top: 26%;
      right: 5px;
      font-size: 24px;
      padding: 5px;
      color: #666;
      @include foregroundHover(#333, 8%);
      @include foregroundClick(#333, 16%);
    }

    .images {
      height: 25%;
      white-space: nowrap;
      overflow-x: auto;
      // This enables momentum scrolling on ios devices
      -webkit-overflow-scrolling: touch;
      font-size:0;

      img {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
      }
    } // .images

    .content {
      height: 75%;
      font-family: "Lato";
      text-align: left;
      overflow-y: auto;
      position: relative;
      // This enables momentum scrolling on ios devices
      -webkit-overflow-scrolling: touch;

      & > i {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 24px;
        padding: 5px;
        color: #666;
        @include foregroundHover(#333, 8%);
        @include foregroundClick(#333, 16%);
      }

      .title, .subtitle {
        margin: 10px;
      }

      .title {
        font-size: 30px;
        line-height: 30px;
        width: 80%;
      }

      .subtitle {
        font-size: 18px;
        color: #999;
      }

      .map-view {
        margin-left: 10px;
      }

      .family, .authority, .description, .distribution, .information {
        font-size: 14px;
        margin: 0 10px 15px 10px;
        
        .heading {
          color: #666;
          border: none;
        }
      }
    } // .content
  } // .popover-inner-mobile
} // .popover-outer
