<div id="mapview-satellite" class="overlay-button left selected">Satellite</div>
<div id="mapview-standard" class="overlay-button right">Standard</div><br />
<div id="expand-menu" class="overlay-button">Families / Trails</div>