<div id="current-location" class="current-location-mobile mobile-menu-button"><i class="icon-location"></i></div>
<div id="expand-menu" class="expand-menu-mobile mobile-menu-button"><i class="icon-menu"></i></div>