<div id="overlay-buttons-inner" class="overlay-buttons-inner">
  <div id="about" class="title overlay-button first">Campus Flora</div><br />
  <div id="mapview-satellite" class="overlay-button left selected">Satellite</div>
  <div id="mapview-standard" class="overlay-button right">Standard</div><br />
  <div id="expand-menu" class="overlay-button expand-menu last"><abbr>Menu</abbr><i class="icon-menu"></i></div><br />
</div>