<div id="overlay-dark" class="overlay-dark"></div>
<div id="popover-outer" class="popover-outer">
  <div class="height-fix"></div>
</div>

<div id="inner-container" class="inner-container<%= browser.mobile? && browser.safari? ? ' ios' : '' %>">
  <div id="map-canvas" class="map-canvas"></div>
  <div id="overlay-buttons" class="overlay-buttons">
    <div id="mapview-satellite" class="overlay-button left selected">Satellite</div>
    <div id="mapview-standard" class="overlay-button right">Standard</div><br />
    <div id="expand-menu" class="overlay-button">Families / Trails</div>
  </div>
  <div id="side-menu" class="side-menu">
    <div id="tab-button-outer" class="tab-button-outer">
      <div id="tab-button-families" class="tab-button selected">Families</div>
      <div id="tab-button-trails" class="tab-button">Trails</div>
      <div id="tab-button-list" class="tab-button">List</div>
    </div>
    <div id="menu-content-container" class="menu-content-container">
      <div id="menu-content-families" class="menu-content families">
        <div id="family-select-all" class="selection-option">Select All</div>
        <div id="family-unselect-all" class="selection-option">Unselect All</div>
      </div>
      <div id="menu-content-trails" class="menu-content trails">
      </div>
      <div id="menu-content-list" class="menu-content list"></div>
    </div>
  </div>
</div>

<script>
  var init = function() {
    var mapManager = new MapManager;
    // Initialize the mapManager and get the google map
    var map = mapManager.initialize();
    var speciesManager = new SpeciesManager;
    speciesManager.initialize(<%= raw @species %>, <%= raw @trails %>, <%= raw @families %>, map);
  }

  $(function() {
    google.maps.event.addDomListener(window, "load", init);
  });

  // Configure fastclick.js to remove mobile input delay on touch
  if ('addEventListener' in document) {
    document.addEventListener('DOMContentLoaded', function() {
        FastClick.attach(document.body);
    }, false);
  }
</script>